.side-select-button {
    color: #A4A5A7;
    cursor: pointer;
    font-family: WorkSansRegular;
    font-size: 14px;
    letter-spacing: 0;
    box-sizing: border-box;
    height: 24px;
    width: 88px;
    border: 1px solid #A4A5A7;
    border-radius: 2px;
    background-color: #F3F3F3;
    text-align: center;
    line-height: 24px;
    
    &.active {
        border: 1px solid #58595B;
        color: #58595B;
        
    }
}