.button {
    background-color: #BD1B1F;
    border: 1px solid #971B1E;
    color: #FFFFFF;
    display: inline-block;
    font-family: WorkSansSemiBold;
    font-size: 18px;
    font-weight: 600;
    height: 58px;
    letter-spacing: 0;
    padding: 0 18px;
    text-align: center;
    text-transform: uppercase;
    line-height: 58px;
}